{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-4">
  <div class="row">
    <div class="col-md-10">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="">Expenses Summary</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
           Summary
          </li>
        </ol>
      </nav>
    </div>

    <div class="col-md-2">
      <a href="" class="btn btn-outline-info">BACK</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <canvas id="myChart" width="800" height="400"></canvas>
    </div>
    <div class="col-md-4">
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  const ctx = document.getElementById('myChart');

  // Define the initial chart data
  const initialChartData = {
    labels: [],
    datasets: [{
      label: 'Expenses',
      data: [],
      backgroundColor: 'rgba(54, 162, 235, 0.5)', // Set the bar color
      borderColor: 'rgba(54, 162, 235, 1)', // Set the border color
      borderWidth: 1
    }]
  };

  // Create the chart with initial data and options
  const chart = new Chart(ctx, {
    type: 'bar',
    data: initialChartData,
    options: {
      responsive: false,
      scales: {
        y: {
          beginAtZero: true,
          min: 0 // Set the minimum value for the y-axis scale
        }
      }
    }
  });

  // Function to update the chart data
  function updateChartData(data) {
    chart.data.labels = Object.keys(data);
    chart.data.datasets[0].data = Object.values(data);
    chart.update();
  }

  // Make an AJAX request to fetch the expense category summary data
  fetch('{% url "expense_category_summary" %}')
    .then(response => response.json())
    .then(data => updateChartData(data.expense_category_data))
    .catch(error => console.log(error));
</script>
{% endblock content %}
