  {% extends 'base_auth.html' %}
  {% load static %}


  {% block content %}
  <style>
    body {
      background-image: url("{% static 'authentication/wallpaperflare.com_wallpaper.jpg' %}");
      background-repeat: no-repeat;
      background-size: cover;
    }
  </style>
  
  <div class="container mt-2" style="margin: 10px 10px 10px 580px;">
    <div>
      <h1 style="font-family: 'Roboto', sans-serif; font-size: 40px;">Expense Tracker</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="card mt-5">


        <div class="card-body">
          <div class="card-title py-3">
            <h4>Login to your  account</h4>
          </div>
          
          <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            {% include 'partials/_messages.html' %}

            

            <div class="form-group">
              <input
                type="text"
                name="username"
                placeholder="username"
                id="usernameField"
                value="{{fieldValues.username}}"
                class="form-control form-control-sm"
              />
            </div>
            <div class="form-group mt-4 mb-4">
              <input
                type="password"
                name="password"
                placeholder="Password"
                class="form-control form-control-sm"
                id="passwordField"
              />
            </div>
            <input type="submit" value="Login" class="btn btn-outline-info submit-btn" />
          </form>
          <div class="container p-1">
            <span class="text-lead text">Dont have an account? <a href="{% url 'register' %}">Register</a></span><br>
          <span class="text-lead text">Forgot Password <a href="{% url 'request-password' %}">Reset Password</a></span>
          </div>

        </div>
        
        
        </div>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>

  <script src="{% static 'js/register.js' %}"></script>

  {% endblock content %}
</body>